/*

Dark Grey: #353535
Medium Grey: #696969
Light Grey: #f1f2f2
Blue: #056fc6

*/

h1 {
  color: #353535;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.btn-outline-primary {
  color: #056fc6;
  border-color: #056fc6;
  font-family: 'Inter', sans-serif;
}